@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .entirePage {
    @apply absolute flex flex-col h-[calc(100vh-60px)] w-full bg-cover scrollbar-hide;
  }

  .gradientButton {
    @apply bg-gradient-to-tr from-sky-950 to-sky-600;
  }

  .gradientButton:hover {
    @apply bg-gradient-to-tr from-sky-900 to-sky-600;
  }

  .gradientButton:disabled {
    @apply bg-none bg-sky-700/30 cursor-not-allowed;
  }

  .redGradientButton {
    @apply bg-gradient-to-tr from-red-950 to-red-500;
  }

  .redGradientButton:hover {
    @apply bg-gradient-to-tr from-red-900 to-red-500;
  }

  button {
    @apply select-none;
  }

  .tooltip {
    @apply absolute left-1/2 transform -translate-x-1/2 bottom-full mb-2 hidden group-hover:block bg-slate-200 text-black text-xs px-2 py-1 rounded;
  }

  .myContainerCard {
    @apply relative flex flex-col w-[calc(min(700px,80%))] h-[80%] mt-[6vh] justify-start items-center gap-[4px] pt-[5vh] px-[2vw] pb-[5vh] text-slate-200 bg-gradient-to-tr from-sky-950 to-sky-900 border-2 border-slate-400 rounded-xl shadow-xl;
  }

  .myContainerCardTitle {
    @apply absolute flex justify-center items-center h-[8vh] text-[3vh] text-slate-200 py-[2vh] px-[4vh] -top-[4vh] bg-sky-800 shadow-xl rounded-[2vh] border-[1px] border-slate-400;
  }

  .myContainerCardInnerBox {
    @apply bg-sky-800/30 shadow-xl rounded-lg border-[1px] border-sky-700;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar:horizontal {
  display: none;
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.App {
  text-align: center;
}
