@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .entirePage {
    @apply flex flex-col h-[calc(100vh-60px)] w-full bg-cover absolute;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.App {
  text-align: center;
}

